@mixin getNavbarStyles {
  .navbar {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .info {
      display: flex;
      align-items: center;
      gap: 1rem;
      .inquiry {
        width: 4ex;
        height: 4ex;
        border-radius:50%;
        text-align: center;
        border:2px solid #fafafa;
        display: inline-block;
        vertical-align: middle;
        line-height:3.5ex;
      }
    }
  }
}
