@mixin getPostActivityStyles {
  .post__activity {
    @include getCardStyles;
     #weekday_hour {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      color: #fafafa;
      border: 0px;
      text-align: center;
      justify-content: center;
      padding: 1.5%;
      font-size:0.5em;
      font-weight: bold;
      align-items: middle;
      margin-top: 0.5rem;
      cursor: pointer;
    }
    &__info {
      margin-bottom: 1rem;
      display: flex;
      justify-content: space-between;
      @include getCardIconStyle;
    }
    .recharts-rectangle:hover {
      transform: translateY(-3%);
      transition: ease 0.2s;
    }
    .recharts-rectangle:not(:hover ){
      transition: ease 0.2s;
    }
  }
}
