@mixin getTrendingTracksStyles {
  .trending__tracks {
    @include getCardStyles;
    .trending__info {
      margin-bottom: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include getCardIconStyle;
    }
    .like_dislike {
        width: 1.5rem;
        height: 1.5rem;
        font-size:0.5em;
        font-weight:bold;
        background-color: #2d3965;
        border-radius:50%;
        text-align: center;
        vertical-align: middle;
        line-height: 1.5rem;
        color:#fafafa;
        cursor: pointer;
        border:0px;
      }


    .trend {
      display: flex;
      margin-bottom: 1.2rem;
      gap: 1rem;
      justify-content: space-between;
      @media (max-width: 1080px) {
        flex-direction: column;
      }
      .trend__info {
        gap: 1rem;
        width: 65%;
        display: inline-block;
        img {
          border-radius: 1rem;
          height: 3rem;
        }
      }
      a, a:visited{
        text-decoration: none;
        color: inherit;
      }
      h5 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1rem;
      }
      span {
        font-size: 0.8rem;
      }
      

      .trend__meta {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
      }

      #channel_icon {
        background-color: #2d3965;
        width: 55px;
        height: 25px;
        border-radius: 25px;
        color: white;
        text-align: center;
        padding: 4.5px;
        font-size:0.7em;
      }
    }
    .trend:hover {
      transform: translateX(10px);
      transition: ease 0.5s;
    }
    .trend:not(:hover) {
      transition: ease 0.5s;
    }
  }
}
