@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap");
@import "metric.css";
@import "summary.css";
@import "navbar.css";
@import "card.css";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", sans-serif;
    color: #fafafa;
    background-color: black;
}

body .dashboard {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 17vw 83vw;
}

body h3 {
    font-weight: 350;
    color: #fafafa;
    letter-spacing: 0.02em;
}

body h1 {
    font-weight: 350;
    color: #fafafa;
    letter-spacing: 0.03em;
}

.recharts-default-tooltip {
    border-radius: 0.3rem;
    background: rgba(57, 64, 76, 0.8);
    padding: 0.7em;
    border: 1px solid #fafafa;
}