#unlock_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
}

#unlock_button {
    width: 11em;
    height: 3em;
    border-radius: 5em;
    background-color: #d24451;
    font-size: 0.8em;
    color: #fafafa;
    border: 0px;
    margin: 1em;
    cursor: pointer;
}

#gradient_bar {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 40%;
    text-align: center;
    justify-content: center;
    font-weight: 500;
    font-size: 1em;
    margin-top: 1vh;
}

#profanity_info {
    width: 100%;
    height: 70%;
    margin-top: 2vh;
    display: flex;
}

#word_blob {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    transform: translateY(-2rem);
    color: #e2e2e2;
    cursor: pointer;
}

#top_profanity_word_0_active {
    background: -webkit-linear-gradient(300deg, #323fff, #c1115a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -1vh;
}

#top_profanity_word_1_active,
#top_profanity_word_2_active,
#top_profanity_word_3_active,
#top_profanity_word_4_active {
    background: -webkit-linear-gradient(45deg, #b5bafbde, #cd96adde);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -1vh;
}

#word_blob span {
    font-size: 0.8em;
    font-weight: 100;
}

[id^="top_profanity_word_"]:hover {
    transform: scale(1.1, 1.1);
    transition: ease-in-out 0.3s;
}

[id^="top_profanity_word_"]:not(:hover) {
    transition: ease-in-out 0.3s;
}