.sidebar {
    background-color: #181818;
    border-right: 1px solid #3f3f3f;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.sidebar_container {
    position: fixed;
    width: 15%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-toggle-container {
    display: flex;
    justify-content: flex-end;
    padding: 1.4rem 0rem;
}

.sidebar #toggle {
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: none;
    color: #fff;
    background-color: transparent;
}

.sidebar .upper__container .brand {
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.sidebar .upper__container .brand img {
    width: 3rem;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sidebar .upper__container .links li {
    padding-right: 0;
    list-style-type: none;
    margin: 3rem 0;
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 1rem;
}

.sidebar li svg {
    color: #afafaf;
}

.sidebar li a {
    text-decoration: none;
    color: #afafaf;
}

.sidebar li span {
    margin-left: 2rem;
}

.sidebar li:hover {
    color: red;
}

.sidebar #active a,
.sidebar #active svg {
    color: white;
}

.sidebar .bottom__container {
    bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sidebar .bottom__container a {
    color: #afafaf;
    cursor: pointer;
}