.top_posts .info {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_posts .like_dislike {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.5em;
    font-weight: bold;
    background-color: #2d3965;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5rem;
    color: #fafafa;
    cursor: pointer;
    border: 0px;
}

.top_posts .post_container {
    display: flex;
    margin-bottom: 1.2rem;
    gap: 1rem;
    justify-content: space-between;
}

@media (max-width: 1080px) {
    .top_posts .post_container {
        flex-direction: column;
    }
}

.top_posts .post_container .post__info {
    gap: 1rem;
    width: 65%;
    display: inline-block;
}

.top_posts .post_container .post__info img {
    border-radius: 1rem;
    height: 3rem;
}

.top_posts .post_container a,
.top_posts .post_container a:visited {
    text-decoration: none;
    color: inherit;
}

.top_posts .post_container h5 {
    width: 14vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8rem;
}

.top_posts .post_container span {
    font-size: 0.8rem;
}

.top_posts .post_container text {
    font-size: 0.8rem;
    color: #fff;
    line-height: 200%;
}

.top_posts .post_container .post__like {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.top_posts .post_container #channel_icon {
    background-color: #2d3965;
    width: 55px;
    height: 25px;
    border-radius: 25px;
    color: white;
    text-align: center;
    padding: 4.5px;
    font-size: 0.7em;
}

.top_posts .post_container:hover {
    transform: translateX(10px);
    transition: ease 0.5s;
}

.top_posts .post_container:not(:hover) {
    transition: ease 0.5s;
}